# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Swift
.build

# Xcode
.DS_Store
#build/
#!src/xcode/Audi-CoD/PreCache/**/build/
target/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
!AuMob-User.xcworkspace
xcuserdata